body{
    background-color: black;
}

/* fondo de la barra*/
nav.bg-black{
    background-color: #000;
}

header{
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.list-group{
    --bs-list-group-bg: transparent;
}

#fondo{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/city-gb.png");
    height: 260px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.perfil{
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}

h1.intro{
    padding-top: 35%;
}

.presentacion{
    flex-wrap: wrap;
    display: flex;
}
.container div {
    min-width: 250px;
    max-width: 1400px;
    background-color: rgb(245,245,245);
    padding: 20px;
    margin-bottom: 0px;
    margin: auto;
}


.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.container{
    padding:  30px;
}

.iconosEd{
    width: 50px;
    right: 50px;
}

.cursos .certificado{
    width: 400px;
    height: 300px;
    display: flex;
    margin:auto;
}


