/* fondo de la barra*/
nav.bg-black{
    background-color: #000;
}

#fondo{
    background-image: url("img/city-gb.png");
    
    height: 300px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;

}
.perfil{
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
}

h1.intro{
    padding-top: 35%;
}