body{
    background-color: black;
}

/* fondo de la barra*/
nav.bg-black{
    background-color: #000;
}

header{
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.list-group{
    --bs-list-group-bg: transparent;
}

#fondo{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/city-gb.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.perfil{
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}

h1.intro{
    padding-top: 35%;
}

.presentacion{
    flex-wrap: wrap;
    display: flex;
}
.presentacion .col{
    padding: 40px;
    margin-bottom: 0px;
}
.container div {
    min-width: 200px;
    max-width: 1400px;
    background-color: rgb(245,245,245);
}


.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.container{
    padding: 30px;
}

.educacion .titulos{
    padding: 60px;
}

.iconosEd{
    width: 50px;
    right: 50px;
}
    
.cursos .col-6{
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px 300px;
    padding: 200px;
}
.certificado1{
    background-image: url(img/Certificado-CIVIL3D.JPG);
}
.certificado2{
    background-image: url(img/Certificado-MundoDigital.JPG);
}
.certificado3{
    background-image: url(img/Certificado-SeProgramar.JPG);
}
.certificado4{
    background-image: url(img/Certificado-SAP2000.JPG);
}

.container1{
    padding: 30px;
    min-width: 250px;
    max-width: 1400px;
}
/*CIRCULOS DE PROGRESO*/
.progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ebebeb; }
  
  .progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s; }
  
  .progress-circle span {
    font-size: 1rem;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    text-align: center;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    z-index: 1; }
  
  .progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #ffffff; }

.progress-circle.progress-25:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(180deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-30:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(198deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-50:after {
    background-image: linear-gradient(-90deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-55:after {
    background-image: linear-gradient(-72deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-60:after {
    background-image: linear-gradient(-54deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-40:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(234deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-75:after {
    background-image: linear-gradient(0deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-80:after {
    background-image: linear-gradient(18deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-90:after {
    background-image: linear-gradient(54deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }

h5.circle{
    color: #fff;
}
/*FIN CIRCULOS DE PROGRESO*/

footer .container3{
    padding: 0px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
}

/* LOGIN */
.login{
    height: 80vh;
}
.formulario-login{
        margin-top: 10%;
}

/* REGISTER */
.formulario-register{
    margin-top: 5%;
}

/*DASHBOARD*/
.admin{
    margin-top: 8px;
}

nav.vertical{
    float: left;
    margin-left: 0.5rem;
    margin-top: 2rem;
}

li.vertical{
    display: block;
    margin: 0;
    writing-mode: vertical;
    padding: 1rem 0;
    
}

a.list-group-item,a:hover{
    text-decoration: none;
    color: #cbc9c9;
}

a.list-group-item:hover{
    color: #ffffff;
}

