/* fondo de la barra*/
.bg-black{
    background-color: #000;
}
section.banner{
    background-image: url("/FRONTEND/img/city-gb.png");
    width: 100;
    height: 100vh;
    position: relative
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
}