/*h1 {
    color: red;
    font-size: 50pt;
}

p {
    color: blue;
}

.textoh2 {
    color: green;
}
body {
            background-color: linen;
         }*/
         
/* fondo de la barra*/
.bg-black{
    background-color: #000;
}
